* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug header {
    height: 5vh;
}

.debug footer {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
 
    
}

.debug main {
    height: 85vh;

}


#site_header {
    background-color: black;


}

#site_footer {
    background-color: #222222;
    color: white;

}

#site_main {
    background-color: black;
    margin: auto;
    overflow-y: auto;
    /* per non far rompere il layout fa tipo cornice main */

}


.bottoni {
    text-align: end;
    line-height: 40px;



}

.Speaker {
    background-color: gray;
    text-align: center;
    height: 30px;
   
 

}

.arrow {
    width: 20px;

}


.grip{
    

    height: 15px;
}



.btn {
    background-color: gray;
    border-radius: 4px;
    padding: 2px;
    margin-top: 2px;
    color: white;

}



.container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    max-width:  1600px;
  gap: 1px;


}

.col-7 {
    width: calc(100% / 7 -3px);
    
    margin: 0 3px;
}


img {
    padding: 1px;
    height: 200px;
    width: 200px;

}

.utente_zoom {
    position: relative;

}

.microphone {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;


}



.utente {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 2rem;
    color: white;


}

.left{
    flex-grow: 1;
    display: flex;
    gap: 0.25rem;
}

.icon{
    display: flex;
}


.center{
    flex-grow: 3;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.right{
    flex-grow: 1;
    text-align: end;
    
}


.text-center{
    text-align: center;
}


.end{
    display: inline-block;
    height: 100%;
    background: grey;
    line-height: 80px;
    padding: 0 0.5rem;
    color: red
  

    

}




 

